################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PrimerProyectoAfterSession/copilot-chat/0e987032/sessions
/.vs/PrimerProyectoAfterSession/FileContentIndex
/.vs/PrimerProyectoAfterSession/CopilotIndices/18.6.39577.51406
/.vs
